module TopModule(
	input clk,
	input rst_n,
	input a,
	output match
);

	reg [8:0] a_tem;

	always @(posedge clk or negedge rst_n)
		if (!rst_n)
			a_tem <= 9'b0;
		else
			a_tem <= {a, a_tem[7:0]};

	assign match = (a_tem[8:6] == 3'b011) && (a_tem[2:0] == 3'b110);

endmodule
